/* #CSS RESET
 ===================================================================*/
html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
}
:focus {
outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html,body{
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
caption,th {
	text-align:left;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
body {
  border: 0 none;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
	font-size: 14px;
	line-height: 25px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #7e8082;
	background-color: #FFF;
	/* background-image: radial-gradient(#ffea00, #D6FF00, #ffffff); */

	-webkit-font-smoothing: antialiased !important;
	-webkit-text-size-adjust: 100% !important;
}
.bold {
	font-weight:bold;
}
.font-light {
	font-weight:100;
}
.font-norm {
	font-weight:normal !important;
}
::selection
{
	background-color: #ffea00;
  color:#4b4e53;
}
::-moz-selection
{
	background-color: #ffea00;
  color:#4b4e53;
}
.relative {
  position: relative;
}

/* --------------------------------
support for no js
-------------------------------- */
.no-js .cd-primary-nav {
  position: relative;
  height: auto;
  width: 100%;
  overflow: visible;
  visibility: visible;
  z-index: 2;
}
.no-js {
  position: relative;
  top: 0;
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 1170px) {
  .no-js .cd-primary-nav {
    position: absolute;
    z-index: 3;
    display: inline-block;
    width: auto;
    top: 0;
    right: 150px;
    padding: 0;
  }
  .no-js .nav-is-fixed .cd-primary-nav {
    position: fixed;
  }
}

/* #IMAGES
================================================== */
	img.scale-with-grid {
		max-width: 100%;
		height: auto; }
	img, video {
		max-width: 100%;
		height: auto;
	}
.section-title {
  margin:0;
  padding:22px 25px 24px 25px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight:300;
	font-size:30px;
	line-height:36px;
	color:#4b4e53;
  border-left:#4b4e53 2px solid;
}
.p-50-cont{ padding-top:50px; padding-bottom:50px;}
.p-60-cont{ padding-top:60px; padding-bottom:60px;}
.p-80-cont{ padding-top:80px; padding-bottom:80px;}
.p-110-cont{ padding-top:110px; padding-bottom:110px;}
.p-140-cont{ padding-top:140px; padding-bottom:140px;}
.pt-110-cont{ padding-top:110px;}
.pt-100-cont{ padding-top:100px;}
.pt-80-b-50-cont { padding-top:80px; padding-bottom:50px;}
.pt-100-b-80-cont { padding-top:100px; padding-bottom:80px;}
.pt-110-b-80-cont { padding-top:110px; padding-bottom:80px;}
.pt-110-b-30-cont{ padding-top:110px; padding-bottom:30px;}
.pt-110-b-40-cont{ padding-top:110px; padding-bottom:40px;}
.pt-110-b-50-cont{ padding-top:110px; padding-bottom:50px;}
.pt-110-b-60-cont{ padding-top:110px; padding-bottom:60px;}
.pt-110-b-80-cont{ padding-top:110px; padding-bottom:80px;}
.pt-120-b-100-cont{ padding-top:120px; padding-bottom:100px;}
.pt-150-b-110-cont{ padding-top:150px; padding-bottom:110px;}

.grey-light-bg{
	background-color:#eee;
}
.yellow-bg{
	background-color:#ffea00 !important;
}

/* #PORTFOLIO 1 #NEW
=====================================================*/
.port-main-img {
  width: 100%;
  display: block;
  overflow: hidden;
}
.port-overlay-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  transition: all .3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	color:#fff;
}
.port-main-img {
  transition: all .3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.shadow {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .1) !important;
}
.lightbox-item {
  position:relative;
}
.lightbox-item  .port-btn-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12px;
  margin-top: -28px;
  transition: all .3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.lightbox-item:hover  .port-btn-cont {
  margin-top: -12px;
}
.lightbox-item  .port-btn-cont {
  font-size:26px;
  color:#fff;
}
.lightbox-item  .port-btn-cont.lightbox-video {
  margin-left: -18px;
  margin-top: -32px;
}
.lightbox-item:hover  .port-btn-cont.lightbox-video {
  margin-top: -17px;
}
.lightbox-item  .port-btn-cont.lightbox-video {
  font-size:34px;
}
.port-item:hover .port-overlay-cont, .lightbox-item:hover .port-overlay-cont {
  opacity: 1;
}
.port-item:hover .port-main-img, .lightbox-item:hover .port-main-img {
  -webkit-transform: scale(1.3) translateZ(0);
	-moz-transform: scale(1.3) translateZ(0);
	-o-transform: scale(1.3) translateZ(0);
	-ms-transform: scale(1.3) translateZ(0);
	transform: scale(1.3) translateZ(0);
}
.port-item:hover .port-img-overlay:after, .lightbox-item:hover .port-img-overlay:after {
  background: rgba(16,16,16, .85);
}
/* .port-item .port-img-overlay:after , .lightbox-item .port-img-overlay:after  {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255, 0);
  -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
} */
.port-img-overlay {
  position: relative;
  overflow: hidden;
}
.port-btn-cont a{
  display:inline-block;
}
.port-overlay-cont{
  padding: 50px;
  padding-top: 20px;
}
.container .port-grid-5 .port-overlay-cont{
  padding: 20px;
  padding-right: 10px;
}
.port-item:hover .port-overlay-cont, .lightbox-item:hover .port-overlay-cont {
  padding-top: 40px;
}
.container .port-grid-5 .port-item:hover .port-overlay-cont, .container .port-grid-5 .lightbox-item:hover .port-overlay-cont {
  padding-top: 30px;
}
.port-title-cont {
  margin-bottom:0px;
  transition: all .4s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.port-item:hover .port-title-cont, .lightbox-item:hover .port-title-cont {
  margin-bottom:15px;
}
.port-title-cont h3 {
  margin:0;
	font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  font-size:16px;
  line-height:24px;
  font-weight:600;
  /* color:#fff; */
}
.port-title-cont h3 a {
  color:#fff;
}
.port-title-cont h3 a:hover{
  color:#dedede;
}
.port-grid-gut li:first-child  .port-overlay-cont{
  padding-right: 40px;
}
.port-title-cont span a{
  color:#bebebe;
  font-size:12px;
  text-transform: uppercase;
}
.port-title-cont span a:hover{
  color:#fff;
}
.port-title-cont h3 img {
  width: 20px;
  margin-top: 10px;
 } /* devon */
.port-btn-cont a{
  color:#bebebe;
  font-size:18px;
}
.port-btn-cont a:hover{
  color:#fff;
}
.port-view-more-cont {
  margin-top:-1px;
  text-align:center;
}
.port-view-more {
  display:block;
  padding-top:40px;
  padding-bottom:37px;
  background:#eee;
  font-family: 'Lato',Arial,Helvetica,sans-serif;
  font-size:18px;
  line-height:18px;
  font-weight:100;
  transition: all .3s ease 0s;
}
.port-view-more:hover {
  background:#dedede;
  color:#4b4e53;
}
.port-view-more-cont-dark {
  text-align:center;
}
.port-view-more-dark {
  display:block;
  padding-top:55px;
  padding-bottom:52px;
  background:#4b4e53;
  font-family: 'Lato',Arial,Helvetica,sans-serif;
  color:#fff;
  font-size:18px;
  line-height:18px;
  font-weight:normal;
  letter-spacing:4px;
  transition: all .3s ease 0s;
}
.port-view-more-dark:hover {
  background:#101010;
  color:#fff;
}
.port-view-more-inv{
  background:#dedede;
  display:block;
  padding-top:40px;
  padding-bottom:37px;
  font-family: 'Lato',Arial,Helvetica,sans-serif;
  font-size:18px;
  line-height:18px;
  font-weight:100;
  transition: all .3s ease 0s;
}
.port-view-more-inv:hover {
  background:#eee;
  color:#4b4e53;
}
.mobile .port-overlay-cont{
  display:none;
  visibility:hidden;
}

/* #PAGE TITLE #NEW
=====================================================*/
.page-title-cont {
  /* padding-top:135px; */
  padding-top: 45px;
  padding-bottom:45px;
}
.page-title {
  margin-bottom:20px;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 5px;
  font-weight: 400;
  text-transform:uppercase;
}
.page-sub-title {
  margin-bottom:15px;
  letter-spacing: 3px;
  font-size: 12px;
  line-height:15px;
  text-transform:uppercase;
}

/* #FOOTER 2 NEW
=====================================================*/

.footer-2-text-cont {
    margin-bottom: 30px;
}

/* #WORK NAV #NEW
================================================== */
.work-navigation{
  padding:0;
	width: 100%;
	background: #fff;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
  margin-top: 7px;
  /* z-index: 99; */
}
.work-navigation a{
	display: block;
	float: left;
	/* width: 33.33333%; */
	overflow: hidden;
	vertical-align: middle;
	text-decoration: none;
	white-space: nowrap;
	cursor: default;
  background: #eeeeee;
}
.work-navigation a span{
	display: inline-block;
}

/* #PORTFOLIO
============================================*/
ul#portfolio {
	margin:0;
	padding:0;
	list-style:none;
	transition:none !important;
}

/* #FOOTER
================================================== */

/*****	#CONTACT FOOTER	*****/
.contact-text-container {
	padding-left:50px;
	padding-top:12px;
	min-height:46px;
	opacity:.8;
}
.right-1024 {
	float:right;
}
.right {
	float:right;
}
.left {
	float:left;
}
.right-text {
	text-align:right;
}
.center-text {
	text-align:center;
}

/*	#TYPOGRAPHY
===============================================================*/
/***** #HEADINGS *****/
h1, h2, h3{
	font-family: 'Lato',Arial,Helvetica,sans-serif;
	font-weight:normal;
	color: #4b4e53;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: #4b4e53;
	margin: 0;
}
h1 {
	font-size: 32px;
	line-height: 45px;
	margin: 40px 0 32px 0;
}
h2 {
	font-size: 28px;
	line-height: 32px;
	margin: 27px 0 18px 0;
}
h3 {
	font-size: 24px;
	letter-spacing: normal;
	line-height: 33px;
	margin: 26px 0 16px 0;
}
h4 {
	font-size: 18px;
	letter-spacing: normal;
	line-height: 25px;
	margin: 0px 0 9px 0;
}
h5 {
	font-size: 14px;
	letter-spacing: normal;
	line-height: 25px;
	margin: 18px 0 13px 0;
}
h6 {
	font-size: 12px;
	letter-spacing: normal;
	line-height: 18px;
	margin: 18px 0 13px 0;
}
.heading-center h1, .heading-center h2, .heading-center h3, .heading-center h4, .heading-center h5, .heading-center h6, .heading-center p{
  text-align: center;
  margin: 18px 0px;
}

/*****	#DIVIDERS	*****/
.divider {
	position: relative;
	overflow: hidden;
	margin: 35px 0;
	color: #eee;
	width: 100%;
}
.divider:after {
	content: '';
	position: absolute;
	width: 100%;
	top: 12px;
	left: 25px;
	height: 0;
	border-top: 2px solid #EEE;
}
.divider.divider-center {
	text-align: center;
}
.divider.divider-center:after {
	left: 0;
}
.divider-line {
	height:2px;
	width:100%;
	background: #eee;
}
.divider-dashed {
	height:0px;
	width:100%;
	margin:20px 0 20px 0;
	border-top: 2px dashed #eee;
}
hr {
	/* border-top: 1px solid #eee; */
	margin: 22px 0 22px 0;
}

/***** #HIGHLIGHTS *****/
.highlight-text {
	background-color: #ffea00;
  color:#4b4e53;
	padding: 0 3px;
}

/*****	#BUTTONS	*****/
button {
	border:none;
	cursor:pointer;
  text-decoration: none;
  transition: all .3s ease 0s;
}
.button {
	background-color:#ffea00;
	color:#4b4e53;
	border:none;
	border-radius:2px;
	transition: all .3s ease 0s;
/****	add in anim	*******/
	outline: none;
	position: relative;

}
.button:hover {
	background-color:#101010;
	color:#fff;
	transition: all .3s ease 0s;
}
a {
  color: #4b4e53;
	outline: none !important;
  text-decoration: none;
  transition: all .3s ease 0s;
}
a:hover {
  background-color: #ffea00 !important;
  color:#4b4e53;
  text-decoration: none;
  transition: all .3s ease 0s;
	cursor:pointer;
}
.a-text {
	display: inline-block;
	margin-bottom: 10px;
}

/* #MARGINS #PADDINGS
================================================== */
.m-0 {margin:0 !important;}
.m-10 {margin:2px;}

.mt-min-30 {margin-top:-30px;}
.mt-min-35 {margin-top:-35px;}
.mt-min-180 {margin-top:-180px;}
.mt-min-120{margin-top:-120px;}
.mt-min-210 {margin-top:-210px;}
.mt-min-500 {margin-top:-500px;}
.mt-0 {margin-top:0 !important;}
.mt-5 {	margin-top:5px !important;}
.mt-10 {margin-top:10px !important;}
.mt-20 {margin-top:20px;}
.mt-25 {margin-top:25px !important;}
.mt-30 {margin-top:30px !important;}
.mt-40 {margin-top:40px !important;}
.mt-50 {margin-top:50px !important;}
.mt-55 {margin-top:55px}
.mt-60 {margin-top:60px !important;}
.mt-70 {margin-top:70px }
.mt-80 {margin-top:80px;}
.mt-90 {margin-top:90px;}
.mt-100 {margin-top:100px;}
.mt-110 {margin-top:110px;}
.mt-150 {margin-top:150px;}
.mt-170 {margin-top:170px;}

.mr-0 {	margin-right:0 !important;}
.mr-5 {margin-right:5px;}
.mr-7 {margin-right:7px;}
.mr-10 {margin-right:10px;}
.mr-15 {margin-right:15px;}
.mr-20 {margin-right:20px;}

.mb-0 {margin-bottom:0 !important;}
.mb-5 {margin-bottom:5px !important;}
.mb-10 {margin-bottom:10px !important;}
.mb-15 {margin-bottom:15px !important;}
.mb-20 {margin-bottom:20px !important;}
.mb-23 {margin-bottom:23px}
.mb-40 {margin-bottom:40px !important;}
.mb-45 {margin-bottom:45px !important;}
.mb-25 {margin-bottom:25px !important;}
.mb-30 {margin-bottom:30px !important;}
.mb-35 {margin-bottom:35px !important;}
.mb-50 {margin-bottom:50px }
.mb-60 {margin-bottom:60px !important;}
.mb-70 {margin-bottom:70px !important;}
.mb-75 {margin-bottom:75px;}
.mb-80 {margin-bottom:80px !important;}
.mb-90 {margin-bottom:90px;}
.mb-100 {margin-bottom:100px;}
.mb-110 {margin-bottom:110px;}
.mb-140 {margin-bottom:140px;}
.mb-160 {margin-bottom:160px;}
.mb-170 {margin-bottom:170px;}
.mb-180 {margin-bottom:180px;}
.mb-210 {margin-bottom:210px;}

.ml-0 {margin-left:0px !important;}
.ml-10 {margin-left:10px;}
.ml-20 {margin-left:20px;}
.ml-30 {margin-left:30px !important;}
.ml-40 {margin-left:40px !important;}

.mlr-1 {margin-left: 1px; margin-right: 1px;}
.mlr-10 {margin-left: 10px; margin-right: 10px;}
.mlr-30 {margin-left: 30px; margin-right: 30px;}
.mlr-min-30 {margin-left: -30px !important; margin-right: -30px !important;}

.p-0 {padding:0 !important;}
.p-10 {padding:10px !important;}
.p-15 {padding:15px !important;}
.p-20 {padding:20px;}
.p-25 {padding:25px;}
.p-40 {padding:40px;}

.pt-20 {padding-top:20px;}
.pt-30 {padding-top:30px;}
.pt-36 {padding-top:36px;}
.pt-40 {padding-top:40px;}
.pt-50 {padding-top:50px;}
.pt-55 {padding-top:55px;}
.pt-60 {padding-top:60px;}
.pt-65 {padding-top:65px;}
.pt-70{padding-top:70px;}
.pt-75{padding-top:75px;}
.pt-80{padding-top:80px;}
.pt-95 {padding-top:95px;}
.pt-100 {padding-top:100px;}
.pt-130 {padding-top:130px;}
.pt-140 {padding-top:140px;}
.pt-250 {padding-top:250px;}
.pt-500 {padding-top:500px;}

.pr-0 {	padding-right:0 !important;}
.pr-75{padding-right:75px;}

.pb-0 {	padding-bottom:0px !important;}
.pb-10 {padding-bottom:10px !important;}
.pb-20 {padding-bottom:20px}
.pb-30 {padding-bottom:30px !important;}
.pb-40 {padding-bottom:40px;}
.pb-45 {padding-bottom:45px;}
.pb-50 {padding-bottom:50px;}
.pb-55 {padding-bottom:55px;}
.pb-60 {padding-bottom:60px;}
.pb-65 {padding-bottom:65px;}
.pb-70 {padding-bottom:70px;}
.pb-80 {padding-bottom:80px;}
.pb-130 {padding-bottom:130px;}
.pb-140 {padding-bottom:140px;}

.pl-0 {padding-left:0 !important;}
.pl-20 {padding-left:20px;}

.plr-0 {padding-left:0 !important;	padding-right:0 !important;}
.plr-1 {padding-left: 1px; padding-right: 1px;}
.plr-5 {padding-left: 5px; padding-right: 5px;}
.plr-10 {padding-left: 10px; padding-right: 10px;}
.plr-15 {padding-left: 15px; padding-right: 15px;}
.plr-20 {padding-left: 20px; padding-right: 20px;}
.plr-30 {padding-left: 30px; padding-right: 30px;}
.plr-40 {padding-left: 40px; padding-right: 40px;}
.plr-50 {padding-left: 50px; padding-right: 50px;}
.pad-login-right {padding-right:0 !important;}

/* #BACK TO TOP BUTTON
================================================== */
#back-top {
	position: fixed;
	bottom: 16px;
  right: 19px;
	padding:0;
	margin:0;
	z-index: 20;
}
#back-top a {
	text-decoration: none;
	display: block;
	color:#4b4e53;
  font-size:34px;
	z-index:999;
}
#back-top a:hover {
	color:#97999c;
}

/*	#BACK TO TOP ====================================*/
  #back-top {
    bottom: 9px;
    right: 12px;
  }

/******************************************************************************
* 	Core #Owl Carousel CSS File
* 	v1.3.3
******************************************************************************/

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
    z-index: 5;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
  cursor:url(grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*******************************************
 *  Owl Carousel CSS3 Transitions
 *  v1.3.2
 *******************************************/
.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}
.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}
@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}
@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}

/***********************************************************
 * #Owl Carousel #CUSTOMS
 **********************************************************/
.owl-carousel{
  overflow: hidden;
}
.owl-buttons{
	position: static;
}
.owl-prev, .owl-next{
	opacity: 0;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	width: 105px;
	height: 105px;
	line-height: 105px;
	font-size: 40px;
	text-align: center;
	color: rgba(255,255,255, .7);
  z-index: 6;
	-webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.owl-arrows-bg .owl-prev, .owl-arrows-bg .owl-next{
	margin-top: -35px;
  padding-top:19px;
	width: 40px;
	height: 70px;
  background:#fff;
	line-height: 30px;
	font-size: 30px;
	color: rgba(16,16,16, .7);
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
  -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
}
.owl-white-bg .owl-prev,
.owl-white-bg .owl-next{
  color: rgba(75,78,83, .7);
}
.owl-prev{
	left: -50px;
}
.owl-next{
	right: -50px;
}
.owl-prev .icon,
.owl-next .icon{
  position: relative;
}
.owl-prev:hover,
.owl-next:hover{
  color:rgba(255,255,255, 1);
}
.owl-prev:hover,
.owl-next:hover{
  color:rgba(75,78,83, 1);
}
.owl-carousel:hover .owl-prev{
	opacity: 1;
	left: -15px;
}
.owl-arrows-bg.owl-carousel:hover .owl-prev{
	left: 0;
}
.owl-carousel:hover .owl-next{
	opacity: 1;
	right: -15px;
}
.owl-arrows-bg.owl-carousel:hover .owl-next{
	right: 0;
}

@media only screen and (max-width: 992px) {
  .owl-carousel:hover .owl-prev{
    opacity: 1;
    left: -27px;
  }
  .owl-carousel:hover .owl-next{
    opacity: 1;
    right: -27px;
  }
}

.owl-pagination{
  z-index:5;
	display: none;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
}
.owl-pag-2 .owl-pagination{
	bottom: 10px;
}
.owl-page{
	display: inline-block;
	padding: 6px;
  position: relative;
}
.owl-page span{
	width: 6px;
	height: 6px;
	display: block;
	background: rgba(255,255,255, .7);
  position: relative;
  border-radius: 50%;

	-webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.owl-page:hover span{
	background: rgba(255,255,255, 1);
}
.owl-page.active span{
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.owl-white-bg .owl-page span{
  background: rgba(75,78,83, .5);
}
.owl-dark-bg .owl-page span{
  background: rgba(255,255,255, 1);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, .1);
}
.item-carousel .owl-prev{
	left: -125px;
}
.item-carousel .owl-next{
	right: -125px;
}
section:hover .item-carousel.owl-carousel .owl-prev{
	opacity: 1;
	left: -80px;
}
section:hover .item-carousel.owl-carousel .owl-next{
	opacity: 1;
	right: -80px;
}
.item-carousel{
  margin-bottom: -50px;
  padding-bottom: 50px;
}
.item-carousel .owl-pagination{
	bottom: 0;
}
.work-full-slider .owl-pagination,
.content-slider .owl-pagination{
	bottom: 15px;
}
.single-carousel,
.small-item-carousel{
  margin-bottom: 35px;
}
.single-carousel .owl-pagination,
.small-item-carousel .owl-pagination{
  position: relative;
  left: 0;
  top: 35px;
  margin: 0;
}
.single-carousel.black .owl-page span,
.small-item-carousel.black .owl-page span{
  background: rgba(0,0,0, .15);

  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.single-carousel.black .owl-page:hover span,
.small-item-carousel.black .owl-page:hover span{
  background: rgba(0,0,0, .4);
}
.single-carousel.black .owl-page.active span,
.small-item-carousel.black .owl-page.active span{
	background: rgba(0,0,0, .4);
}
.single-carousel.black .owl-prev,
.single-carousel.black .owl-next,
.small-item-carousel.black .owl-prev,
.small-item-carousel.black .owl-next{
  color: rgba(0,0,0, .2);
  text-shadow: none;

  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.single-carousel.black .owl-prev:hover,
.single-carousel.black .owl-next:hover,
.small-item-carousel.black .owl-prev:hover,
.small-item-carousel.black .owl-next:hover{
  color: rgba(0,0,0, .35);
}
.single-carousel .owl-prev,
.small-item-carousel .owl-prev{
	left: -125px;
}
.single-carousel .owl-next,
.small-item-carousel .owl-next{
	right: -125px;
}
section:hover .single-carousel .owl-prev,
section:hover .small-item-carousel .owl-prev{
	opacity: 1;
	left: -80px;
}
section:hover .single-carousel .owl-next,
section:hover .small-item-carousel .owl-next{
	opacity: 1;
	right: -80px;
}
.black-arrows .owl-prev,
.black-arrows .owl-next{
  color: #fff;
}
.black-arrows .owl-prev:before,
.black-arrows .owl-next:before{
  background: rgba(0,0,0, 1);
}

/* devon */
.container {
  max-width: 1110px;
}

@media (min-width: 992px){

  .col-md-5 {
      width: 48.66666667%;
    }

  }
